$orange: #F47821
$grey: #4E4D53
@font-face
    font-family: 'Din'
    src: url(../fonts/DINPro.ttf)
@font-face
    font-family: 'DinBold'
    src: url(../fonts/DINPro-Bold.ttf)
*
    margin: 0
    padding: 0
    box-sizing: border-box
body
    font-family: 'Din', sans-serif
ul
    list-style: none
    display: block
.first-screen
    padding-top: 165px
    padding-bottom: 146px
    display: flex
    align-items: center
    flex-direction: column
    h1
        font-size: 48px
        color: #222222
        margin-bottom: 24px
        text-align: center
        font-weight: 400
    p
        font-size: 16px
        color: $grey
        text-align: center
        margin-bottom: 30px
        margin-top: 0
        span
            color: $orange
    button
        display: flex
        align-items: center
        justify-content: center
        background: none
        border: none
        font-size: 16px
        text-transform: uppercase
        color: #222222
        outline: none
        cursor: pointer
        font-family: 'DinBold'
        position: relative
        padding-left: 46px
        &:hover
            span
                width: 236px
                justify-content: flex-start
        span
            width: 54px
            height: 54px
            display: flex
            align-items: center
            justify-content: flex-start
            padding-left: 20px
            background: rgba(135,135,135,0.05)
            border-radius: 50px
            transition: 0.3s
            position: absolute
            left: 0
.image
    img
        width: 100%
        display: block
.advantages
    background: #F7F5FA
    padding-bottom: 85px
    &__wrapper
        display: flex
        flex-wrap: wrap
        width: (486px * 2)
        margin: 0 auto
        margin-top: -85px
    &__block
        width: 50%
        padding-left: 60px
        padding-top: 50px
        padding-right: 70px
        padding-bottom: 61px
        background: #fff
        border-bottom: 1px solid #EDEDED
        border-right: 1px solid #EDEDED
        &:nth-child(2), &:nth-child(4)
            border-right: none
        &:nth-child(3), &:nth-child(4)
            border-bottom: none
        h2
            font-size: 12px
            color: $orange
            margin-bottom: 12px
            letter-spacing: 0.04em
        p
            font-size: 24px
            color: #222222
.similar
    padding-top: 80px
    display: flex
    align-items: center
    flex-direction: column
    padding-bottom: 70px
    h1
        font-size: 48px
        width: 773px
        max-width: 95%
        margin-bottom: 24px
        font-weight: 400
        letter-spacing: -0.02em
        color: #222222
    p
        color: $grey
        font-size: 16px
        line-height: 26px
        max-width: 95%
        width: 773px
        margin-bottom: 30px
.pluses
    padding-top: 120px
    padding-bottom: 125px
    background: #F7F5FA
    display: flex
    flex-direction: column
    align-items: center
    &__block
        margin-left: 35px
        margin-right: 35px
        width: 335px
        margin-bottom: 35px
        max-width: 95%
    &__wrapper
        display: flex
        justify-content: center
        flex-wrap: wrap
        img
            margin-bottom: 30px
        h2
            font-size: 20px
            &::after
                content: ''
                display: block
                width: 24px
                height: 2px
                background: $orange
                margin-top: 22px
                margin-bottom: 22px
        p
            font-size: 16px
            color: $grey
            line-height: 26px
    h1
        font-size: 40px
        letter-spacing: -0.02em
        margin-bottom: 60px
        text-align: center
        font-weight: 400
        margin-bottom: 60px
.form
    padding-top: 100px
    padding-bottom: 120px
    background: #161616
    display: flex
    flex-direction: column
    align-items: center
    &__text
        width: 100%
    &__form
        width: 575px
        max-width: 95%
        button
            margin-top: 32px
            background: #FFFFFF
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12)
            border-radius: 50px
            font-size: 14px
            color: $orange
            border: none
            cursor: pointer
            outline: none
            text-transform: uppercase
            padding-top: 15px
            padding-bottom: 15px
            width: calc(100% - 92px)
            margin-left: auto
            display: block
            font-family: 'DinBold'
    &__block
        display: flex
        align-items: flex-start
        margin-bottom: 48px
        &:nth-last-child(2)
            input
                height: 70px
                &::-webkit-input-placeholder /* Chrome/Opera/Safari */
                    white-space: pre-line
                    position: relative
                    top: -12px
                &::-moz-placeholder /* Firefox 19+ */
                    white-space: pre-line
                    position: relative
                    top: -12px
                &:-ms-input-placeholder /* IE 10+ */
                    white-space: pre-line
                    position: relative
                    top: -12px
                &:-moz-placeholder /* Firefox 18- */
                    white-space: pre-line
                    position: relative
                    top: -12px
        input
            background: none
            border: none
            font-size: 24px
            border-bottom: 2px solid rgba(247,248,250,0.1)
            color: rgba(255,255,255,0.3)
            width: 100%
            padding-bottom: 12px
            outline: none
        .invalid-input
            border-color: rgba(255,0,0,0.1)
            color: rgba(255,0,0,0.3)
            &::placeholder
                color: rgba(255,0,0,0.3)
        h2
            font-size: 16px
            color: #ffffff
            margin-bottom: 24px
        span
            min-width: 64px
            border: 1px solid rgba(255,255,255,0.23)
            min-height: 64px
            border-radius: 50%
            display: flex
            align-items: center
            justify-content: center
            font-size: 20px
            font-weight: 500
            margin-right: 28px
            color: $orange
    h1
        color: #fff
        font-size: 40px
        letter-spacing: -0.02em
        margin-bottom: 60px
        text-align: center
        font-weight: 400


@media screen and (max-width: 1000px)
    .advantages__block
        width: 100%
    .advantages__wrapper
        width: 95%
@media screen and (max-width: 560px)
    .form__block span
        min-width: 40px
        min-height: 40px
        margin-right: 15px
    .form__block input
        font-size: 18px
    .pluses__block
        margin-right: 0
        width: unset
    .advantages__block
        padding: 30px
    .first-screen h1
        font-size: 38px
    .form__form button
        width: 100%