@font-face {
  font-family: 'Din';
  src: url(../fonts/DINPro.ttf);
}

@font-face {
  font-family: 'DinBold';
  src: url(../fonts/DINPro-Bold.ttf);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Din', sans-serif;
}

ul {
  list-style: none;
  display: block;
}

.first-screen {
  padding-top: 165px;
  padding-bottom: 146px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.first-screen h1 {
  font-size: 48px;
  color: #222222;
  margin-bottom: 24px;
  text-align: center;
  font-weight: 400;
}

.first-screen p {
  font-size: 16px;
  color: #4E4D53;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 0;
}

.first-screen p span {
  color: #F47821;
}

.first-screen button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: none;
  border: none;
  font-size: 16px;
  text-transform: uppercase;
  color: #222222;
  outline: none;
  cursor: pointer;
  font-family: 'DinBold';
  position: relative;
  padding-left: 46px;
}

.first-screen button:hover span {
  width: 236px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.first-screen button span {
  width: 54px;
  height: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 20px;
  background: rgba(135, 135, 135, 0.05);
  border-radius: 50px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  left: 0;
}

.image img {
  width: 100%;
  display: block;
}

.advantages {
  background: #F7F5FA;
  padding-bottom: 85px;
}

.advantages__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 972px;
  margin: 0 auto;
  margin-top: -85px;
}

.advantages__block {
  width: 50%;
  padding-left: 60px;
  padding-top: 50px;
  padding-right: 70px;
  padding-bottom: 61px;
  background: #fff;
  border-bottom: 1px solid #EDEDED;
  border-right: 1px solid #EDEDED;
}

.advantages__block:nth-child(2), .advantages__block:nth-child(4) {
  border-right: none;
}

.advantages__block:nth-child(3), .advantages__block:nth-child(4) {
  border-bottom: none;
}

.advantages__block h2 {
  font-size: 12px;
  color: #F47821;
  margin-bottom: 12px;
  letter-spacing: 0.04em;
}

.advantages__block p {
  font-size: 24px;
  color: #222222;
}

.similar {
  padding-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 70px;
}

.similar h1 {
  font-size: 48px;
  width: 773px;
  max-width: 95%;
  margin-bottom: 24px;
  font-weight: 400;
  letter-spacing: -0.02em;
  color: #222222;
}

.similar p {
  color: #4E4D53;
  font-size: 16px;
  line-height: 26px;
  max-width: 95%;
  width: 773px;
  margin-bottom: 30px;
}

.pluses {
  padding-top: 120px;
  padding-bottom: 125px;
  background: #F7F5FA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pluses__block {
  margin-left: 35px;
  margin-right: 35px;
  width: 335px;
  margin-bottom: 35px;
  max-width: 95%;
}

.pluses__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.pluses__wrapper img {
  margin-bottom: 30px;
}

.pluses__wrapper h2 {
  font-size: 20px;
}

.pluses__wrapper h2::after {
  content: '';
  display: block;
  width: 24px;
  height: 2px;
  background: #F47821;
  margin-top: 22px;
  margin-bottom: 22px;
}

.pluses__wrapper p {
  font-size: 16px;
  color: #4E4D53;
  line-height: 26px;
}

.pluses h1 {
  font-size: 40px;
  letter-spacing: -0.02em;
  margin-bottom: 60px;
  text-align: center;
  font-weight: 400;
  margin-bottom: 60px;
}

.form {
  padding-top: 100px;
  padding-bottom: 120px;
  background: #161616;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__text {
  width: 100%;
}

.form__form {
  width: 575px;
  max-width: 95%;
}

.form__form button {
  margin-top: 32px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
  border-radius: 50px;
  font-size: 14px;
  color: #F47821;
  border: none;
  cursor: pointer;
  outline: none;
  text-transform: uppercase;
  padding-top: 15px;
  padding-bottom: 15px;
  width: calc(100% - 92px);
  margin-left: auto;
  display: block;
  font-family: 'DinBold';
}

.form__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 48px;
}

.form__block:nth-last-child(2) input {
  height: 70px;
}

.form__block:nth-last-child(2) input::-webkit-input-placeholder {
  white-space: pre-line;
  position: relative;
  top: -12px;
}

.form__block:nth-last-child(2) input::-moz-placeholder {
  white-space: pre-line;
  position: relative;
  top: -12px;
}

.form__block:nth-last-child(2) input:-ms-input-placeholder {
  white-space: pre-line;
  position: relative;
  top: -12px;
}

.form__block:nth-last-child(2) input:-moz-placeholder {
  white-space: pre-line;
  position: relative;
  top: -12px;
}

.form__block input {
  background: none;
  border: none;
  font-size: 24px;
  border-bottom: 2px solid rgba(247, 248, 250, 0.1);
  color: rgba(255, 255, 255, 0.3);
  width: 100%;
  padding-bottom: 12px;
  outline: none;
}

.form__block .invalid-input {
  border-color: rgba(255, 0, 0, 0.1);
  color: rgba(255, 0, 0, 0.3);
}

.form__block .invalid-input::-webkit-input-placeholder {
  color: rgba(255, 0, 0, 0.3);
}

.form__block .invalid-input:-ms-input-placeholder {
  color: rgba(255, 0, 0, 0.3);
}

.form__block .invalid-input::-ms-input-placeholder {
  color: rgba(255, 0, 0, 0.3);
}

.form__block .invalid-input::placeholder {
  color: rgba(255, 0, 0, 0.3);
}

.form__block h2 {
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 24px;
}

.form__block span {
  min-width: 64px;
  border: 1px solid rgba(255, 255, 255, 0.23);
  min-height: 64px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  font-weight: 500;
  margin-right: 28px;
  color: #F47821;
}

.form h1 {
  color: #fff;
  font-size: 40px;
  letter-spacing: -0.02em;
  margin-bottom: 60px;
  text-align: center;
  font-weight: 400;
}

@media screen and (max-width: 1000px) {
  .advantages__block {
    width: 100%;
  }
  .advantages__wrapper {
    width: 95%;
  }
}

@media screen and (max-width: 560px) {
  .form__block span {
    min-width: 40px;
    min-height: 40px;
    margin-right: 15px;
  }
  .form__block input {
    font-size: 18px;
  }
  .pluses__block {
    margin-right: 0;
    width: unset;
  }
  .advantages__block {
    padding: 30px;
  }
  .first-screen h1 {
    font-size: 38px;
  }
  .form__form button {
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */